In [4]:
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
import pandas as pd 
import numpy as np

In [7]:
np.random.seed(0)

In [31]:
data = load_iris()
df =pd.DataFrame(data.data,columns= data.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [38]:
# x.isnull().sum()
df['species'] =pd.Categorical.from_codes(data.target, data.target_names)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [40]:
df['is_train'] = np.random.uniform(0, 1, len(df)) <= .75

df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,is_train
0,5.1,3.5,1.4,0.2,setosa,True
1,4.9,3.0,1.4,0.2,setosa,False
2,4.7,3.2,1.3,0.2,setosa,True
3,4.6,3.1,1.5,0.2,setosa,True
4,5.0,3.6,1.4,0.2,setosa,True

In [64]:
train, test = df[df['is_train']==True], df[df['is_train']==False]


print("length of train", train)

train.shape

length of train      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
7                  5.0               3.4                1.5               0.2
..                 ...               ...                ...               ...
141                6.9               3.1                5.1               2.3
143                6.8               3.2                5.9               2.3
144                6.7               3.3                5.7               2.5
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9

       species  is_train
0       setosa      True
2       setosa      True
3       setosa      True
4       setosa      True
7       setosa      True
..         ...       ...
141  virginica      True
143  virginica      True
144  virginica      True
145  virginica      True
146  virginica      True

[112 rows x 6 columns]

(112, 6)

In [47]:
features = df.columns[:4]
features

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [83]:
y = data.target


y = y[:len(train)]
print(y.shape)

(112,)

In [73]:
randome_forest = RandomForestClassifier(random_state =0)
randome_forest.fit(train[features], y)

RandomForestClassifier(random_state=0)

In [89]:
pred =randome_forest.predict(test[features])
pred.shape

(38,)

In [92]:
print(test[features].head())  # Actual target (should be categorical)
print(pred[:5])  # Predicted values (should be categorical)


randome_forest.predict_proba(test[features])[0:10]

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                 4.9               3.0                1.4               0.2
5                 5.4               3.9                1.7               0.4
6                 4.6               3.4                1.4               0.3
13                4.3               3.0                1.1               0.1
14                5.8               4.0                1.2               0.2
[0 0 0 0 0]

array([[1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [0.99, 0.01, 0.  ],
       [0.99, 0.01, 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ]])

In [95]:
preds = data.target_names[randome_forest.predict(test[features])]
preds[0:5]

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa'], dtype='<U10')

In [96]:
test['species'].head()

1     setosa
5     setosa
6     setosa
13    setosa
14    setosa
Name: species, dtype: category
Categories (3, object): ['setosa', 'versicolor', 'virginica']

In [98]:
pd.crosstab(test['species'], preds, rownames=['Actual'], colnames = ['predicted Species'])

predicted Species  setosa  versicolor  virginica
Actual
setosa                 10           0          0
versicolor              0           9          0
virginica               0          13          6